.buy-section{
    background-color: #f2f2f2;
    padding: 60px 10%;
    text-align: center;
}

.buy-section h2{
    color: rgb(248, 248, 248);
    font-size: 2.5rem;
    font-weight: bold;
}

.buy-section p{
    color: rgb(242, 249, 255);
    font-size: 15px;
    letter-spacing: 2px;
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-left: 75px;
}

.product-card{
    background-color: rgb(130, 130, 130);
    border-radius: 20px;
    height: 500px;
    width: 350px;
    color: #f2f2f2;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card img{
    margin-top: 10px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

.product-card img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card h2{
    color: #e6ecff;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 35px;
}

.product-card p{
    color: #f2f2f2;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 22px;
}

.add-to-cart{
    background-color: aqua;
    color: black;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 18px;
    padding-bottom: 5px;
    margin-top: 0px;
    font-size: 1rem;
    transition: background-color 0.5s ease;
}

.add-to-cart:hover{
    background-color: rgb(14, 168, 210);
}